---
interface Props {
	title: string;
	category: string;
	href: string;
	image?: string;
	description: string;
	
}

const { href, title, category, image, description} = Astro.props;


---

<div class="bg-white rounded-lg p-7 border-2 border-[rgb(var(--accent))]">
	<a href={href}>
		<img src={image} alt={title} width="100%" class="rounded-lg">
		<h2 class="mt-3 line-clamp-2 text-black font-bold">
			{title}
			<span>&rarr;</span>
		</h2>
		<p class="text-sm italic font-bold text-[rgb(145,73,235)]">
			{category}
		</p>
		<p class="line-clamp-3 text-black text-lg">{description}</p>
        <div class="text-white text-color p-3 rounded-full text-lg mt-5">
            <p>Read More  &rarr;</p>
        </div>
	</a>
</div>
<style>
    .text-color{
		font-size: 1rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		background-image: var(--accent-gradient);
		background-size: 600%;
		background-position: 0%;
	} 
</style>